.center {
    text-align: center;
}
.nadpis {
    position: static;
    top: 40px;
}
body{
    background-color: #121212 !important;
}
.dark{
    background-color: #121212 !important;
}
#badge{
    background-color: #121212 !important;
}
@media (max-width: 410px) {
    .icon {
      display: none;
    }
}
@media (max-height: 755px) {
    .icon {
      display: none;
    }
}